*.o
prisnif
*~
/parsers/pcf/q_trans
*.tab.*
.emacs.desktop*
/parsers/pcf/.#tptp_tr.sh
/parsers/pcf/#tptp_tr.sh#
/parsers/tptp/conversion.log
/parsers/tptp/conv_out.txt
/parsers/pcf/input.pl
/parsers/pcf/result.p
