*.o
prisnif
*~
/parsers/pcf/q_trans
*.tab.*
.emacs.desktop*
/parsers/pcf/.#tptp_tr.sh
/parsers/pcf/#tptp_tr.sh#
/parsers/tptp/conversion.log
/parsers/tptp/conv_out.txt
/parsers/pcf/input.pl
/parsers/pcf/result.p
parsers/pcf/gram_test.out
parsers/tptp/tmp_ast.txt
/parsers/pcf/_
/parsers/tptp/_.pl
/parsers/tptp/TPTP
/parsers/tptp/tasks.out/*
*.dvi
/brick/dis.log
/brick/dis.ps
/brick/dis.pdf
/brick/dis.thm
/brick/dis.run*
*.out
*.toc
*.aux
*.bib
*.bak
brick/*.thm
\#*\#
*.bcf
/brick/autorefbig*.log
/brick/autoref*.pdf
/brick/autoref*.ps
/brick/autoref*.log
/parsers/tptp/*.tptp
/parsers/pcf/q
parsers/pcf/input_*
parsers/pcf/result_*
parsers/tptp/lex.yy.c
parsers/tptp/y.tab.c
parsers/tptp/y.tab.h
parsers/tptp/hotptp-yl-parser
parsers/tptp/tptp-yl-parser
*.lock

/brick/dis.bbl
/brick/dis.blg
