*.o
prisnif
*~
/parsers/pcf/q_trans
*.tab.*
.emacs.desktop*
/parsers/pcf/.#tptp_tr.sh
/parsers/pcf/#tptp_tr.sh#
/parsers/tptp/conversion.log
/parsers/tptp/conv_out.txt
/parsers/pcf/input.pl
/parsers/pcf/result.p
parsers/pcf/gram_test.out
parsers/tptp/tmp_ast.txt
/parsers/pcf/_
/parsers/tptp/_.pl
/parsers/tptp/tasks.out/#ALG211+1.p#
parsers/tptp/TPTP
